{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'work08/style.css' %}">
</head>

<h1>メモ帳アプリ</h1>

<form action="{% url 'create_memo' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="primaryBtn">＋ 新しいメモを作成</button>
</form>


<ul>
    {% for memo in memos %}
    <li>
        <a href="{% url 'edit_memo' memo.id %}">{{ memo.title }}</a><br>
        {{ memo.updated_at }}
        <a href="{% url 'delete_memo' memo.id %}" onclick="return confirm('削除しますか？')">削除</a>
    </li>
    {% empty %}
    <p>まだメモがありません。</p>
    {% endfor %}
</ul>