<h1>BudgetMate ダッシュボード</h1>

<div>
    <a href="{% url 'add_income' %}">
        <button>＋ 収入を追加</button>
    </a>

    <a href="{% url 'add_expense' %}">
        <button>－ 支出を追加</button>
    </a>

    <a href="{% url 'add_saving_goal' %}">
        <button>🎯 貯金目標を追加</button>
    </a>
</div>

<hr>

<h2>収入</h2>
<a href="{% url 'add_income' %}">
    <button class="add-btn">追加</button>
</a>

<ul>
    {% for i in incomes %}
    <li>
        {{ i.date }} - {{ i.source }} : {{ i.amount }}円
        <a href="{% url 'delete_income' i.id %}">
            <button class="delete-btn">削除</button>
        </a>
    </li>
    {% endfor %}
</ul>


<h2>支出一覧</h2>
{% for e in expenses %}
<p>
    {{ e.date }} - {{ e.category }}：{{ e.amount }}円
    <a href="">
        <button>削除</button>
    </a>
</p>
{% empty %}
<p>まだ支出が登録されていません</p>
{% endfor %}

<h2>貯金目標一覧</h2>
{% for g in goals %}
<p>
    {{ g.goal_name }}：{{ g.target_amount }}円 ({{ g.target_date }}まで)
    <a href="">
        <button>削除</button>
    </a>
</p>
{% empty %}
<p>まだ貯金目標が登録されていません</p>
{% endfor %}